﻿<div class="col-12 col-lg-12">
    <form id="NewRantCar-form" dir="ltr">
        <div class="form-row mt-4">
            <div class="col-12 col-sm-6">
                <h3 class="sidebar-title">@Resources.ResourceFile.Products_Filter_TitleCategories</h3>
                <select id="RantCatDrop" class="select2" name=""></select>
            </div>
            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                <h3 class="sidebar-title">@Resources.ResourceFile.Products_Filter_TitlePrands</h3>
                <select id="RantPrandDrop" class="select2" name="">
                    <option>@Resources.ResourceFile.HomePage_Lable_Search</option>
                </select>
            </div>
        </div>
        <div class="form-row mt-4">
            <div class="col-12 col-sm-6">
                <h3 class="sidebar-title">@Resources.ResourceFile.Products_Filter_TitleClass</h3>
                <select id="RantClassDrop" class="select2" name="">
                    <option>@Resources.ResourceFile.HomePage_Lable_Search</option>
                </select>
            </div>
            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                <h3 class="sidebar-title">@Resources.ResourceFile.Products_Filter_TitleModels</h3>
                <select id="RantModelDrop" class="select2" name="">
                    <option>@Resources.ResourceFile.HomePage_Lable_Search</option>
                </select>
            </div>
        </div>
        <div class="form-row mt-4">
            <div class="col-12 col-sm-6">
                <label for="ImgFile">@Resources.ResourceFile.LableImage</label>
                <div class="d-uploadbox">
                    <input type="file" class="form-control cropit-image-input" id="ImgFile" name="ImgFile">
                    <div id="image_viewer" style="width:400px; margin-top:10px;border:solid 1px #efefef"></div>
                </div>
            </div>
        </div>
        <div class="button-row d-flex mt-4">
            <button class="btn btn-primary ml-auto js-btn-next" type="submit" title="Next">@Resources.ResourceFile.Btn_Save</button>
        </div>
    </form>
</div>
