﻿
<table id="AdsList-data" class="table table-striped table-hover table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>@Resources.ResourceFile.ProfilePage_TableTitle_Name</th>
            <th>@Resources.ResourceFile.ProfilePage_TableTitle_New</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>@Resources.ResourceFile.ProfilePage_TableTitle_Name</th>
            <th>@Resources.ResourceFile.ProfilePage_TableTitle_New</th>
        </tr>
    </tfoot>
</table>

