﻿<div class="col-12 col-lg-12 m-auto">
    <form id="NewAccessory-form" class="multisteps-form__form" dir="ltr">
        <div class="form-row mt-4">
            <div class="col-12 col-sm-4">
                <label for="AccCatId">@Resources.ResourceFile.Products_Filter_TitleCategories</label>
                <select id="AccCatId" class="select2" name="" data-error="field is required" required="">
                </select>
            </div>
            <div class="col-12 col-sm-4 mt-4 mt-sm-0">
                <label for="MainAccessoriesType">@Resources.ResourceFile.Profile_Lable_MainAccessories</label>
                <select id="MainAccessoriesType" class="select2" name="" required="">
                    <option>@Resources.ResourceFile.HomePage_Lable_Search</option>
                </select>
            </div>
            <div class="col-12 col-sm-4">
                <label for="SubAccessoriesType">@Resources.ResourceFile.Profile_Lable_SubAccessories</label>
                <select id="SubAccessoriesType" class="select2" name="" required="">
                    <option>@Resources.ResourceFile.HomePage_Lable_Search</option>
                </select>
            </div>
        </div>
        <div class="form-row mt-4">
            <div class="col-12 col-sm-6">
                <label for="AccessoryTitleEN">@Resources.ResourceFile.Profile_Lable_TitleEnglish</label>
                <input id="AccessoryTitleEN" name="AccessoryTitleEN" class="form-control" type="text" placeholder="@Resources.ResourceFile.Profile_Lable_TitleEnglish..." data-error="field is required" required="" />
            </div>
            <div class="col-12 col-sm-6">
                <label for="AccessoryTitleAR">@Resources.ResourceFile.Profile_Lable_TitleArabic</label>
                <input id="AccessoryTitleAR" name="AccessoryTitleAR" class="form-control" type="text" placeholder="@Resources.ResourceFile.Profile_Lable_TitleArabic..." data-error="field is required" required="" />
            </div>
        </div>
        <div class="form-row mt-4">
            <div class="col-12 col-sm-6">
                <label for="AccessoryPrice">@Resources.ResourceFile.Profile_Lable_Price</label>
                <input id="AccessoryPrice" name="AccessoryTitleEN" class="form-control" type="number" placeholder="@Resources.ResourceFile.Profile_Lable_Price..." data-error="field is required" required="" />
            </div>
            <div class="col-12 col-sm-3">
                <label for="AccessoryTitleEN">@Resources.ResourceFile.Profile_Lable_ForAllModels</label>
                <select class="form-control" id="AccessoryForAll" name="AccessoryForAll">
                    <option selected="selected" value="">-- @Resources.ResourceFile.Profile_Lable_ForAllModels --</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div class="col-12 col-sm-3">
                <label for="AccessoryTitleEN">@Resources.ResourceFile.Profile_Lable_ISNew</label>
                <select class="form-control" data-val="true" id="AccisNew" name="AccisNew">
                    <option selected="selected" value="">-- @Resources.ResourceFile.Profile_Lable_ISNew ---</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12">
                <label>@Resources.ResourceFile.Profile_Lable_DescribeInAr </label>
                <textarea class="multisteps-form__input form-control" cols="20" id="AccDescribeAR" name="AccDescribeAR" rows="4"
                          autocomplete="off" placeholder="@Resources.ResourceFile.Profile_Lable_DescribeInAr " required=""></textarea>
            </div>
            <div class="col-12 col-sm-12">
                <label>@Resources.ResourceFile.Profile_Lable_DescribeInEn </label>

                <textarea class="multisteps-form__input form-control" cols="20" id="AccDescribeEN" name="AccDescribeEN" rows="4"
                          autocomplete="off" placeholder="@Resources.ResourceFile.Profile_Lable_DescribeInEn" required=""></textarea>
            </div>
            <div class="col-12 col-sm-12">
                <br />
                <label>@Resources.ResourceFile.Profile_Lable_Images</label>
                <input id="AccImagePordect" name="AccImagePordect" accept="image/x-png,image/gif,image/jpeg" type="file" multiple="multiple" required="">
            </div>
        </div>
        <div class="form-row mt-4 SelectYourModels" style="display:none">
            <div class="col-12 col-sm-6">
                <label for="SelectedMCatId">@Resources.ResourceFile.Products_Filter_TitleCategories</label>
                <select id="SelectedMCatId" class="select2" name="">
                </select>
            </div>
            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                <label for="SelectedMBrandId">@Resources.ResourceFile.Products_Filter_TitlePrands</label>
                <select id="SelectedMBrandId" class="select2" name="">
                    <option value="">@Resources.ResourceFile.HomePage_Lable_Search</option>
                </select>
            </div>
        </div>
        <div class="form-row mt-4 SelectYourModels" style="display:none">
            <div class="col-12 col-sm-6">
                <label for="SelectedMClassId">@Resources.ResourceFile.Products_Filter_TitleClass</label>
                <select id="SelectedMClassId" class="select2" name="">
                    <option value="">@Resources.ResourceFile.HomePage_Lable_Search</option>
                </select>
            </div>
            <div class="col-12 col-sm-5 mt-5 mt-sm-0">
                <label for="SelectedMModelId">@Resources.ResourceFile.Products_Filter_TitleModels</label>
                <select id="SelectedMModelId" class="select2" name="">
                    <option value="">@Resources.ResourceFile.HomePage_Lable_Search</option>
                </select>
            </div>
            <div class="col-12 col-sm-1 mt-1 mt-sm-0">
                <label style="color:#ffffff">&</label>
                <button id="AddModel" class="btn btn-primary ml-auto mar-rl-3" type="button" title="">@Resources.ResourceFile.Profile_Btn_Add</button>
            </div>
        </div>
        <div class="form-row mt-4 SelectYourModels" style="display:none">
            <label for="ModelId">@Resources.ResourceFile.Profile_Lable_YourSelectedModels</label>
            <div class="YourModels">
                @Resources.ResourceFile.Profile_Lable_ThereData
            </div>
        </div>
        <div class="button-row d-flex mt-4">
            <button id="SaveAd" class="btn btn-success ml-auto mar-rl-3" type="submit" title="Send">@Resources.ResourceFile.Profile_Btn_Save</button>
        </div>
    </form>
</div>
