﻿<div class="multisteps-form">
    <!--progress bar-->
    <div class="row">
        <div class="col-12 col-lg-12 ml-auto mr-auto mb-4">
            <div class="multisteps-form__progress">
                <button class="multisteps-form__progress-btn js-active" type="button" title=""> 1 </button>
                <button class="multisteps-form__progress-btn" type="button" title=""> 2 </button>
                <button class="multisteps-form__progress-btn" type="button" title=""> 3 </button>
            </div>
        </div>
    </div>
    <!--form panels-->
    <div class="row">
        <div class="col-12 col-lg-12 m-auto">
            <form id="NewAds-form" class="multisteps-form__form" dir="ltr">
                <!--single form panel-->
                <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                    <div class="multisteps-form__content">
                        <div class="form-row mt-4">
                            <div class="col-12 col-sm-6">
                                <label for="CatId">@Resources.ResourceFile.Products_Filter_TitleCategories</label>
                                <select id="CatId" class="select2" name="" data-error="field is required" required="">
                                </select>
                            </div>
                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                <label for="BrandId">@Resources.ResourceFile.Products_Filter_TitlePrands</label>
                                <select id="BrandId" class="select2" name="" data-error="field is required" required="">
                                    <option>@Resources.ResourceFile.HomePage_Lable_Search</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col-12 col-sm-6">
                                <label for="CarClassId">@Resources.ResourceFile.Products_Filter_TitleClass</label>
                                <select id="CarClassId" class="select2" name="" data-error="field is required" required="">
                                    <option>@Resources.ResourceFile.HomePage_Lable_Search</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                <label for="ModelId">@Resources.ResourceFile.Products_Filter_TitleModels</label>
                                <select id="ModelId" class="select2" name="" data-error="field is required" required="">
                                    <option>@Resources.ResourceFile.HomePage_Lable_Search</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col-12 col-sm-5">
                                <label for="AdPrice">@Resources.ResourceFile.Profile_Lable_Price</label>
                                <input id="AdPrice" name="AdPrice" class="multisteps-form__input form-control" type="number" placeholder="@Resources.ResourceFile.Profile_Lable_Price..." data-error="field is required" required=""/>
                            </div>
                            <div class="col-12 col-sm-2">
                                <div class="checkbox">
                                    <label for="AccessoryTitleEN">@Resources.ResourceFile.Profile_Lable_ISNew</label>
                                    <select class="form-control" data-val="true" id="isNew" name="isNew">
                                        <option selected="selected" value="">-- @Resources.ResourceFile.Profile_Lable_ISNew ---</option>
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-5 mt-4 mt-sm-0">
                                <label for="colorId">@Resources.ResourceFile.Profile_Lable_Colors</label>
                                <select id="colorId" name="colorId" class="select2" data-error="field is required" required=""></select>
                            </div>
                        </div>
                        <div class="button-row d-flex mt-4">
                            <button class="btn btn-primary ml-auto js-btn-next" type="submit" title="Next">@Resources.ResourceFile.Profile_Btn_Next</button>
                        </div>
                    </div>
                </div>
                <!--single form panel-->
                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                    <div class="multisteps-form__content">
                        <div class="form-row mt-4">
                            <div class="col-12 col-sm-12">
                                <label>@Resources.ResourceFile.Profile_Btn_ModelFeatures</label>
                                <select id="Features" class="select2" name="" multiple="multiple">
                                </select>
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col-12 col-sm-6">
                                <label>@Resources.ResourceFile.Profile_Lable_EngineCapacityCC</label>
                                <input id="CEngineCapacityCC" name="CEngineCapacityCC" class="multisteps-form__input form-control" type="number" placeholder="@Resources.ResourceFile.Profile_Lable_EngineCapacityCC" required=""/>
                            </div>
                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                <label>@Resources.ResourceFile.Profile_Lable_CMileageKM</label>
                                <input id="CMileageKM" name="CMileageKM" class="multisteps-form__input form-control" type="number" placeholder="@Resources.ResourceFile.Profile_Lable_CMileageKM" required=""/>
                            </div>
                        </div>      
                        <div class="button-row d-flex mt-4">
                            <button class="btn btn-primary js-btn-prev mar-rl-3" type="button" title="Prev">@Resources.ResourceFile.Profile_Btn_Prev</button>
                            <button class="btn btn-primary ml-auto js-btn-next mar-rl-3" type="submit" title="Next">@Resources.ResourceFile.Profile_Btn_Next</button>
                        </div>
                    </div>
                </div>
                <!--single form panel-->
                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                    <div class="multisteps-form__content">
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <label>@Resources.ResourceFile.Profile_Lable_DescribeInAr </label>
                                <textarea class="multisteps-form__input form-control" cols="20" id="DescribeAR" name="DescribeAR" rows="2" 
                                          autocomplete="off" placeholder="@Resources.ResourceFile.Profile_Lable_DescribeInAr " required=""></textarea>
                            </div>
                            <div class="col-12 col-sm-12">
                                <label>@Resources.ResourceFile.Profile_Lable_DescribeInEn </label>
                                <textarea class="multisteps-form__input form-control" cols="20" id="DescribeEN" name="DescribeEN" rows="2" 
                                          autocomplete="off" placeholder="@Resources.ResourceFile.Profile_Lable_DescribeInEn" required=""></textarea>
                            </div>
                            <div class="col-12 col-md-6 mt-4">
                                <div class="col-12 col-sm-12">
                                    <label>@Resources.ResourceFile.Profile_Lable_Images</label>
                                    <input id="ImagePordect" name="ImagePordect" accept="image/x-png,image/gif,image/jpeg" type="file" multiple="multiple" required="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button-row d-flex mt-4 col-12">
                                <button class="btn btn-primary js-btn-prev mar-rl-3" type="button" title="Prev">@Resources.ResourceFile.Profile_Btn_Prev</button>
                                <button class="btn btn-success ml-auto mar-rl-3" type="submit" title="Next">@Resources.ResourceFile.Profile_Btn_Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
