﻿
@{
    ViewBag.Title = Resources.ResourceFile.ProfilePage_TitleLable;
}
@section ProfileStyle_section{
    <link href="~/Assets/Plugin/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Assets/Plugin/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Assets/Plugin/MultiSteps/style.css" rel="stylesheet" />
}

<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="/Home/Index">@Resources.ResourceFile.Lyout_Menu_Lable_Home</a></li>
                <li class="active"><a id="Sub-Title">@Resources.ResourceFile.ProfilePage_TitleLable</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>

<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 id="UserName">---</h4>
                                <p id="Contact" class="text-secondary mb-1">---</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#ads" role="tab" aria-controls="home" aria-selected="true">@Resources.ResourceFile.ProfilePage_TabLable_Ads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-danger" id="NewAds-tab" data-toggle="tab" href="#NewAds" role="tab" aria-controls="profile" aria-selected="false"> <i class="fa fa-plus-square-o" aria-hidden="true"></i> @Resources.ResourceFile.ProfilePage_Advbtn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-success" id="NewAccessory-tab" data-toggle="tab" href="#NewAccessory" role="tab" aria-controls="profile" aria-selected="false"> <i class="fa fa-plus-square-o" aria-hidden="true"></i> @Resources.ResourceFile.ProfilePage_AccussoryAdvbtn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="rantCar-tab" data-toggle="tab" href="#rantCar" role="tab" aria-controls="profile" aria-selected="false">@Resources.ResourceFile.ProfilePage_TabLable_Rent</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-primary" id="NewRantCar-tab" data-toggle="tab" href="#NewRantCar" role="tab" aria-controls="profile" aria-selected="false"> <i class="fa fa-plus-square-o" aria-hidden="true"></i> @Resources.ResourceFile.ProfilePage_RentCarBtn</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="ads" role="tabpanel" aria-labelledby="home-tab">
                        <div class="card mb-3 box-ReSize">
                            @Html.Partial("_MyAdsPartial")
                        </div>
                    </div>
                    <div class="tab-pane fade" id="NewAds" role="tabpanel" aria-labelledby="NewAds-tab">
                        <div id="BNewAds" class="card mb-3 box-ReSize">
                            @Html.Partial("_NewAdsPartial")
                        </div>
                    </div>
                    <div class="tab-pane fade" id="NewAccessory" role="tabpanel" aria-labelledby="NewAccessory-tab">
                        <div id="BNewAccessory" class="card mb-3">
                            @Html.Partial("_NewAccessory")
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rantCar" role="tabpanel" aria-labelledby="rantCar-tab">
                        <div class="card mb-3 box-ReSize">
                            @Html.Partial("_RantCarPartial")
                        </div>
                    </div>
                    <div class="tab-pane fade" id="NewRantCar" role="tabpanel" aria-labelledby="NewRantCar-tab">
                        <div class="card mb-3 box-ReSize">
                            @Html.Partial("__NewRantCarPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ProfileScript_section{
    <script src="~/Assets/Plugin/DataTables/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Plugin/DataTables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AppCode_JavaScript/Views/Profile.view.js"></script>
    <script src="~/Assets/Plugin/MultiSteps/script.js"></script>
    <script src="~/AppCode_JavaScript/Controllers/Profile.controller.js"></script>
}