﻿
@{
    ViewBag.Title = Resources.ResourceFile.LoginPage_Lable_Register;
}

<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="/Home/Index">@Resources.ResourceFile.Lyout_Menu_Lable_Home</a></li>
                <li><a href="/Account/Register">@Resources.ResourceFile.LoginPage_Lable_Account</a></li>
                <li class="active"><a href="/Account/Register">@Resources.ResourceFile.LoginPage_Lable_Register</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>


<div class="register-account ptb-100 ptb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="register-title">
                    <h3 class="mb-10">@Resources.ResourceFile.LoginPage_Lable_NewCustomer</h3>
                    <p class="mb-10">@Resources.ResourceFile.RegistrationPage_Lable_Note</p>
                </div>
            </div>
        </div>
        <!-- Row End -->
        <div class="row">
            <div class="col-sm-12">
                <form class="form-register">
                    <fieldset class="newsletter-input">
                        <legend>@Resources.ResourceFile.RegistrationPage_Lable_RegBy</legend>
                        <div class="form-group d-md-flex align-items-md-center">
                            <div class="col-md-10 radio-button">
                                <label class="radio-inline"><input type="radio" id="ByEmail" name="ByEmail" checked>@Resources.ResourceFile.LoginPage_Lable_Email</label>
                                <label class="radio-inline"><input type="radio" id="ByPhone" name="ByPhone">@Resources.ResourceFile.LoginPage_Lable_Phone</label>
                                <input type="hidden" id="LoginType" name="LoginType" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>@Resources.ResourceFile.RegistrationPage_YourPersonal</legend>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="name"><span class="require">*</span>@Resources.ResourceFile.RegistationPage_Labe_Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="name" placeholder="@Resources.ResourceFile.RegistationPage_Labe_Name" data-error="Name field is required" required="">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2 EmailBox" for="email"><span class="require">*</span>@Resources.ResourceFile.LoginPage_Lable_Email</label>
                            <div class="col-md-10 EmailBox">
                                <input type="email" class="form-control" id="email" placeholder="@Resources.ResourceFile.LoginPage_Lable_Email" >
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2 PhoneNumberBox" for="number" style="display:none!important"><span class="require">*</span>@Resources.ResourceFile.LoginPage_Lable_Phone</label>
                            <div class="col-md-10 PhoneNumberBox" style="display:none!important">
                                <input type="number" class="form-control" id="phone" placeholder="@Resources.ResourceFile.LoginPage_Lable_Phone Ex:9xxxxxxxx">
                            </div>
                        </div>
                    </fieldset>
                    <div class="terms">
                        <div class="float-md-right">
                            <span>@Resources.ResourceFile.RegistationPage_Labe_PrivacyPolicyNote <a href="#" class="agree"><b>@Resources.ResourceFile.RegistationPage_Labe_PrivacyPolicy</b></a></span>
                            <input type="checkbox" name="agree" value="1" data-error="agree field is required" required="">&nbsp;
                            <button type="submit" class="return-customer-btn">@Resources.ResourceFile.LoginPage_Lable_Continue</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
@section Register_section{
    <script src="~/AppCode_JavaScript/Views/User.view.js"></script>
    <script src="~/AppCode_JavaScript/Controllers/Register.controller.js"></script>
}