﻿
@{
    ViewBag.Title = Resources.ResourceFile.BlogDetailsPage_Title;
}

<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="/Home/Index">@Resources.ResourceFile.Lyout_Menu_Lable_Home</a></li>
                <li><a href="/blogs/Index">@Resources.ResourceFile.Lyout_Menu_Lable_Blog</a></li>
                <li class="active"><a id="TitleBogeName"></a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>

<div class="single-blog ptb-100  ptb-sm-60">
    <div class="container">
        <div class="row">
            <!-- Single Blog Sidebar Description Start -->
            <div class="col-lg-12 order-1 order-lg-2">
                <div id="BlogsdetailLoder"></div>
                <div id="Blogsdetail-data" class="single-sidebar-desc mb-all-40">
                    <div class="sidebar-img">
                        <img id="BlogImage">
                    </div>
                    <div class="sidebar-post-content">
                        <h3 id="BlogName" class="sidebar-lg-title"></h3>
                        <ul class="post-meta d-sm-inline-flex">
                            <li><span id="BlogDate"> </span></li>
                        </ul>
                    </div>
                    <div class="sidebar-desc mb-50">
                        <p id="BlogBody"></p>
                    </div>
                </div>
            </div>
            <!-- Single Blog Sidebar Description End -->
        </div>
    </div>
    <!-- Container End -->
</div>
@section BlogesDetailsPage_section{
    <script src="~/AppCode_JavaScript/Views/Bloges.view.js"></script>
    <script src="~/AppCode_JavaScript/Controllers/BlogesDetails.controller.js"></script>
}