﻿
@{
    ViewBag.Title = Resources.ResourceFile.Lyout_Menu_Lable_Blog;
}

<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="/Home/Index">@Resources.ResourceFile.Lyout_Menu_Lable_Home</a></li>
                <li class="active"><a id="Sub-Title">@Resources.ResourceFile.Lyout_Menu_Lable_Blog</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>

<div class="blog ptb-100  ptb-sm-60">
    <div class="container">
        <div id="BlogsLoder">
        </div>
        <div class="main-blog">
            <div id="Blogs-data" class="row">

            </div>
        </div>
    </div>
    <!-- Container End -->
</div>
@section BlogsPage_section{
    <script src="~/AppCode_JavaScript/Views/Bloges.view.js"></script>
    <script src="~/AppCode_JavaScript/Controllers/Bloges.controller.js"></script>
}
