﻿
.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text6 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text9 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.padd-0 {
    padding: 0px !important;
}
.mar-0 {
    margin: 0px !important;
}
.mar-rl-3 {
    margin-right: 3px !important;
    margin-left: 3px !important;
}
.mar-top-50 {
    margin-top: 50px !important;
}
.mar-top-100 {
    margin-top: 100px !important;
}
.mar-top-150 {
    margin-top: 150px !important;
}
.mar-rl-10 {
    margin-right: 10px !important;
    margin-left: 10px !important;
}
.mar-rl-20 {
    margin-right: 20px !important;
    margin-left: 20px !important;
}
.mar-rl-50 {
    margin-right: 50px !important;
    margin-left: 50px !important;
}
.mar-rl-70 {
    margin-right: 70px !important;
    margin-left: 70px !important;
}
.mar-rl-100 {
    margin-right: 100px !important;
    margin-left: 100px !important;
}

/*//////////////////////////////////////////////////////////////////////////////////////////*/
.Location-title {
    padding: 20px !important;
    position: relative !important;
    top: -15px !important;
    background: #f9f9fb !important;
}
    .Location-title::before {
        border-color: rgba(0, 123, 255, 0.50) transparent transparent;
        border-style: solid;
        border-width: 77px 80px 0 0;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
        z-index: 3;
    }
.single-product{
    padding: 2px !important;
    padding-bottom: 10px !important;
    border: solid 1px #ededed !important;
    border-radius: 4px !important;
    width:100% !important;
}
.pro-img .secondary-img, .pro-img img {
    border-radius: 4px !important;
}
.pro-img img {
    /*height:200px !important;*/
}
.resize-Agent {
    height: 300px !important;
    padding: 35px !important;
    border-bottom: solid #dadada 1px !important;
}
.Brand-img{
    width:100% !important;
    height:50px !important;
}

.single-Slider {
    align-items: center;
    background: #fff none repeat scroll 0 0;
    display: flex;
    padding: 30px;
    position: relative;
    width: 100%;
}

.blog-img {
    border: solid 2px #dddddd !important;
}

.card-box {
    background: #f9f9fb;
    padding: 20px;
    border: 1px solid #ededed;
}
.card-box img{
    border-radius:10px !important; 
}
    .card-box .sidebar-Name {
        color: #007bff !important;
        text-align:center !important;
    }
    .card-box .sidebar-title {
        background-color: #ffffff !important;
        text-align: center !important;
        padding: 5px 3px !important;
        border: solid 1px #fff;
        border-radius:2px !important;
    }

.tag-list li a {
    background-color: #ffffff !important;
    border: solid 1px #f6f6f6;
}

    .tag-list li a:hover {
        background-color: #007bff !important;
        color :#ffffff !important;
    }

.box-resize{
    width:200px !important;
    height:auto !important;
}
.Img-resize {
    height: 112px !important;
}

.comp-Brand {
    background: #f9f9fb;
    border: 1px solid #ededed;
    padding: 5px !important;
    text-align: center !important;
    min-height: 270px !important;
}

    .comp-Brand .pro-img {
        overflow: hidden !important;
        height: 180px !important;
    }

/*=======================================================================
[08] Select2 Custom Style
=========================================================================*/
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    background-image: none;
}

.select2-container--classic .select2-selection--single {
    background-color: #f1f7fa;
    background-image: none;
    border-radius: 0;
    border: 1px solid #f1f7fa;
}

    .select2-container--classic .select2-selection--single:focus {
        border: 1px solid #f1f7fa;
    }

    .select2-container--classic .select2-selection--single .select2-selection__arrow {
        top: 50%;
        transform: translateY(-50%);
        background-color: #396cf0;
        background-image: none;
        border-style: none;
        right: 78% !important;
        height: 25px;
        width: 25px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
    }

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #396cf0;
    color: #ffffff;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #111111;
    font-size: 12px;
}

.select2-container .select2-selection--single {
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.select2-results__option[aria-selected] {
    font-size: 12px;
    color: #111111;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #fff transparent;
    border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
    background-color: #396cf0;
    background-image: none;
    border-style: none;
    left: 10px;
    height: 25px;
    width: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 15px;
    width: 100%;
    text-align: right;
}

.select2-dropdown {
    z-index: 99;
}

.full_screen{
    width:100% !important;
    height:auto !important;
}
.socila-sharing .UserProfile {
    border-radius: 25px !important;
    border: solid 1px #ededed !important;
    background-color: #f1f1f1 !important;
    padding:5px 25px !important
}
.socila-sharing .UserProfile .UserIon {
    font-size: 25px !important;
    line-height:1.5em !important;
}
#CarsFeature .FeatureIcon {
    width: 50px;
    height: 50px;
    border: solid 1px #d8d8d9 !important;
    border-radius: 55px !important;
    padding: 5px !important;
    box-shadow: 1px 2px 2px #b2b2b3;
}
.socila-sharing .first {
    background-color: #007bff !important;
    border: solid 1px #0276f4 !important;
    color: #f9f9fb !important;
    border-radius: 0px 15px 15px 0px !important;
}
.socila-sharing li {
    border-radius: 25px !important;
    border: solid 1px #ededed !important;
    background-color: #f1f1f1 !important;
    padding: 7px 8px !important;
}

/* Customize the label (the container) */

.checkboxcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    background-color: #f9f9fb !important;
    padding-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    .checkboxcontainer strong {
        padding: 2px 0px !important;
        position:relative !important;
        top: 5px !important;
    }
/* Hide the browser's default checkbox */
.checkboxcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 42px;
    width: 28px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 12px;
    width: 5px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.load_more_animation, .more-btn {
    padding: 10px !important;
    border: solid 1px #ededed !important;
    border-radius: 5px !important;
    width: 100% !important;
    text-align: center !important;
}
.custom-alert {
    padding: 10px !important;
    border: solid 1px #ededed !important;
    border-radius: 5px !important;
    width: 100% !important;
    text-align: center !important;
}

.custom-ads-btn {
    width:100% !important;
    float: left !important;
    margin-right: 20px !important;
    padding: .205rem .75rem !important;
    display:inline-block !important;
    text-align:center !important;
    color:#ffffff !important;
}
.custom-ads-btnMob {
    background-color: #dc3545 !important;
    text-align: center !important;
    color: #ffffff !important;
}
.custom-ads-btnMob a {
    color: #ffffff !important;
}
.Love-ico{
    color:#dc3545 !important;
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding:5px !important;
    overflow-x:auto !important;
    min-height:400px !important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

    .gutters-sm > .col, .gutters-sm > [class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }
.YourModels {
    width: 100% !important;
    min-height: 100px !important;
    border: solid 1px #dadada;
    border-radius: 5px !important;
    text-align: center !important;
    padding: 20px !important;
    color: #111111 !important;
}
    .YourModels span {
        background-color: #f1f7fa !important;
        padding: 4px 6px !important;
        border: solid 1px #e4f3fb !important;
        border-radius: 15px !important;
        margin: 3px 4px !important;
        display: inline-block;
    }

        .YourModels span .removeModel {
            cursor: pointer !important;
            color: #f1f7fa !important;
            background-color: #ff0000 !important;
            border: solid 1px #dc3545;
            border-radius: 25px;
            margin: 4px !important;
            padding: 0px 10px !important;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}