﻿
@{
    ViewBag.Title = Resources.ResourceFile.Lyout_Menu_Lable_contact;
}

<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="/Home/Index">@Resources.ResourceFile.Lyout_Menu_Lable_Home</a></li>
                <li class="active"><a href="/Home/Contact">@Resources.ResourceFile.Lyout_Menu_Lable_contact</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>

<!-- Contact Email Area Start -->
<div class="contact-area ptb-100 ptb-sm-60">
    <div class="container">
        <form id="contact-form" class="contact-form">
            <div class="address-wrapper row">
                <div class="col-md-12">
                    <div class="address-fname">
                        <input class="form-control" type="text" id="name" name="name" placeholder="@Resources.ResourceFile.ContactPage_LableName" data-error=" field is required" required="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="address-email">
                        <input class="form-control" type="email" id="email" name="email" placeholder="@Resources.ResourceFile.ContactPage_LableEmail" data-error=" field is required" required="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="address-web">
                        <input class="form-control" type="text" id="phone" name="phone" placeholder="@Resources.ResourceFile.ContactPage_LablePhone" data-error=" field is required" required="">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="address-subject">
                        <input class="form-control" type="text" id="subject" name="subject" placeholder="@Resources.ResourceFile.ContactPage_LableSubject" data-error=" field is required" required="">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="address-textarea">
                        <textarea id="ContMessage" name="message" class="form-control" placeholder="@Resources.ResourceFile.ContactPage_LableMessage" data-error=" field is required" required=""></textarea>
                    </div>
                </div>
            </div>
            <p class="form-message"></p>
            <div class="footer-content mail-content clearfix">
                <div class="send-email float-md-right">
                    <button type="submit" class="return-customer-btn">@Resources.ResourceFile.ContactPage_BtnSend</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Email Area End -->
@section ContactPage_section{
    <script src="~/AppCode_JavaScript/Views/Contact.view.js"></script>
    <script src="~/AppCode_JavaScript/Controllers/Contact.controller.js"></script>
}