﻿<!-- Brand Banner Area Start Here -->
<div class="main-brand-banner pt-95 pb-100 pb-sm-60 pt-sm-55 BrandsContainer">
    <div class="container">
        <div id="HotBrandsLoder"></div>
        <div id="HotBrandsCont">
            <div class="section-ttitle mb-30">
                <h2 class="prand-title">@Resources.ResourceFile.HomePage_Lable_HotBrands</h2>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-3">
                    <div class="col-img">
                        <img id="AdsImageLeft" src="~/Assets/img/banner/h1-band1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Brand Banner Start -->
                    <div id="Brand-data" class="brand-banner owl-carousel">

                    </div>
                    <!-- Brand Banner End -->
                </div>
                <div class="col-lg-3">
                    <div class="col-img">
                        <img id="AdsImageRight" src="~/Assets/img/banner/h1-band2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Brand Banner Area End Here -->