﻿<div class="margin-top-30"></div>
<!-- Arrivals Products Area Start Here -->
<div class="second-arrivals-product pb-45 pt-5 pb-sm-5 off-white-bg FeatureContainer">
    <div class="container">
        <div id="FeaturedLoder"></div>
        <div id="FeaturedCont" class="main-product-tab-area">
            <div class="tab-menu mb-25">
                <div class="section-ttitle">
                    <h2>@Resources.ResourceFile.HomePage_Lable_Featured</h2>
                </div>
                <!-- Nav tabs -->
                <ul class="nav tabs-area" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active Cars-Featured" id="1" data-toggle="tab" href="#CarsFeatured">@Resources.ResourceFile.HomePage_Lable_Cars </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link Motorcycle-Featured" id="3" data-toggle="tab" href="#MotorFeatured">@Resources.ResourceFile.HomePage_Lable_MotorCycles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link Trucks-Featured" id="2" data-toggle="tab" href="#TrucksFeatured">@Resources.ResourceFile.HomePage_Lable_Trucks</a>
                    </li>
                </ul>
            </div>
            <!-- Tab Contetn Start -->
            <div class="tab-content">
                <div id="CarsFeatured" class="tab-pane fade show active">
                    <!-- Arrivals Product Activation Start Here -->
                    <div id="Cars-Featured-carousel" class="best-seller-pro-active owl-carousel">

                    </div>
                    <!-- Arrivals Product Activation End Here -->
                </div>

                <div id="MotorFeatured" class="tab-pane fade">
                    <!-- Arrivals Product Activation Start Here -->
                    <div id="Motorcycle-Featured-carousel" class="best-seller-pro-active owl-carousel">


                    </div>
                    <!-- Arrivals Product Activation End Here -->
                </div>

                <div id="TrucksFeatured" class="tab-pane fade">
                    <!-- Arrivals Product Activation Start Here -->
                    <div id="Trucks-Featured-carousel" class="best-seller-pro-active owl-carousel">

                    </div>
                    <!-- Arrivals Product Activation End Here -->
                </div>
            </div>
            <!-- Tab Content End -->
        </div>
        <!-- main-product-tab-area-->
    </div>
    <!-- Container End -->
</div>
<!-- Arrivals Products Area End Here -->
