﻿@using Newtonsoft.Json
<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.ResourceFile.Lyout_head_TitlePage</title>
    <meta name="description" content="Alwakeel online shop">
    <link rel="shortcut icon" href="~/assets/img/logo-ico.jpeg">
    <!-- Libs CSS ============================================ -->
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="~/Assets/css/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="~/Assets/css/linearicons.css">
    <!-- Jquery select css -->
    <link href="~/Assets/css/select2.min.css" rel="stylesheet" />
    <!-- Jquery sweet alert2 css -->
    <link href="~/Assets/css/sweetalert2.min.css" rel="stylesheet" />
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="~/Assets/css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="~/Assets/css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="~/Assets/css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="~/Assets/css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="~/Assets/css/default.css">
    <link href="~/Assets/css/croppie.css" rel="stylesheet" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/Assets/style.css">
    <link href="~/Assets/Custom.css" rel="stylesheet" />
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
    @{
        HttpCookie cookie = HttpContext.Current.Request.Cookies["Language"];
        if (cookie != null && cookie.Value != null)
        {
            if (cookie.Value == "ar")
            {
                <script src="~/AppCode_JavaScript/Resources/Resource.ar.js"></script>
                <link href="~/Assets/css/bootstrap-rtl.min.css" rel="stylesheet" />
                <link href="~/Assets/css/custom-rtl.css" rel="stylesheet" />
            }
            else
            {
                <script src="~/AppCode_JavaScript/Resources/Resource.js"></script>
                <link href="~/Assets/css/custom-ltr.css" rel="stylesheet" />
            }
        }
        else
        {
            <script src="~/AppCode_JavaScript/Resources/Resource.ar.js"></script>
            <link href="~/Assets/css/bootstrap-rtl.min.css" rel="stylesheet" />
            <link href="~/Assets/css/custom-rtl.css" rel="stylesheet" />
        }
    }
    <!-- Modernizer js -->
    @RenderSection("ProfileStyle_section", required: false)
    <script src="~/Assets/js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body class="common-home res layout-3">
    <div id="preloader"></div>
    <div id="CustomPreloader" style="display:none"></div>
    <div class="wrapper">
        @Html.Partial("_headerPartial")
        <!-- Main Container  -->
        <div class="main-container">
            <div id="content">
                @RenderBody()
            </div>
            @Html.Partial("_FooterPartial")
        </div>
    </div>
    <!-- Include Libs & Plugins ============================================ -->
    <!-- jquery 3.2.1 -->
    <script src="~/Assets/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/js/jquery-validation-1.19.1.js"></script>
    <script src="~/Assets/js/validator.min.js"></script>
    <script src="~/Assets/js/jquery.cookie.js"></script>
    <!-- Countdown js -->
    <script src="~/Assets/js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="~/Assets/js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="~/Assets/js/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="~/Assets/js/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="~/Assets/js/jquery.fancybox.min.js"></script>

    <!-- Jquery ui price slider js -->
    <script src="~/Assets/js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="~/Assets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!-- Jquery select js -->
    <script src="~/Assets/js/select2.min.js"></script>
    <!-- Jquery sweet alert2 js -->
    <script src="~/Assets/js/sweetalert2.min.js"></script>
    <!-- Plugin js -->
    <script src="~/Assets/js/plugins.js"></script>
    <script src="~/Assets/Plugin/Croppie/croppie.js"></script>
    <script src="~/AppCode_JavaScript/RouteConfig.js"></script>
    <script src="~/AppCode_JavaScript/Resources/SiteResource.js"></script>
    <script src="~/AppCode_JavaScript/HttpClient.js"></script>
    <script src="~/AppCode_JavaScript/Views/Base.view.js"></script>
    <script src="~/AppCode_JavaScript/Controllers/Base.controller.js"></script>

    <script src="~/AppCode_JavaScript/Views/Shared.view.js"></script>
    <script src="~/AppCode_JavaScript/Controllers/Shared.controller.js"></script>

    @RenderSection("Home_section", required: false)
    @RenderSection("Company_section", required: false)
    @RenderSection("CompanyDitels_section", required: false)
    @RenderSection("Prodect_section", required: false)
    @RenderSection("PorductDetails_section", required: false)
    @RenderSection("Register_section", required: false)
    @RenderSection("Login_section", required: false)
    @RenderSection("Verification_section", required: false)
    @RenderSection("RentCar_section", required: false)
    @RenderSection("AboutPage_section", required: false)
    @RenderSection("ContactPage_section", required: false)
    @RenderSection("BlogsPage_section", required: false)
    @RenderSection("BlogesDetailsPage_section", required: false)
    @RenderSection("ProfileScript_section", required: false)

    <!-- Main activaion js -->
    <script src="~/Assets/js/main.js"></script>
</body>
</html>