﻿<!-- Categorie Menu & Slider Area Start Here -->
<div class="main-page-banner pb-50 off-white-bg home-3">
    <!-- Slider Area Start Here -->
    <div id="slider-box" class="carousel slide" data-ride="carousel">

    </div>
    <!-- Slider Area End Here -->
</div>