﻿<!-- Header Bottom Start Here -->
<div class="header-bottom  header-sticky">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-4 col-md-6 vertical-menu d-none d-lg-block">
                <span class="categorie-title">@Resources.ResourceFile.Lyout_Lable_ShopCategories</span>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-12 ">
                <nav class="d-none d-lg-block">
                    <ul class="header-bottom-list d-flex">
                        <li class="active">
                            <a href="/Home/Index">@Resources.ResourceFile.Lyout_Menu_Lable_Home </a>
                        </li>
                        <li>
                            <a href="/RentCars/List">@Resources.ResourceFile.Lyout_Menu_Lable_RentCars </a>
                        </li>
                        <li>
                            <a href="">@Resources.ResourceFile.Lyout_Menu_Lable_OurPartners<i class="fa fa-angle-down"></i></a>
                            <!-- Home Version Dropdown Start -->
                            <ul id="PartnersMenu" class="ht-dropdown dropdown-style-two" style="padding:5px !important"></ul>
                            <!-- Home Version Dropdown End -->
                        </li>
                        <li><a href="/blogs/Index">@Resources.ResourceFile.Lyout_Menu_Lable_Blog</a></li>
                        <li><a href="/Home/Contact">@Resources.ResourceFile.Lyout_Menu_Lable_contact</a></li>
                        <li><a href="/Home/About">@Resources.ResourceFile.Lyout_Menu_Lable_About</a></li>
                        @{
                            HttpCookie UserToken = HttpContext.Current.Request.Cookies["UserToken"];
                            if (UserToken != null)
                            {
                                <li><a class="btn btn-danger custom-ads-btn" href="/Account/Profile">@Resources.ResourceFile.Btn_NewAdds <i class="fa fa-plus-square-o" aria-hidden="true"></i></a></li>
                            }
                            else
                            {
                                <li><a class="btn btn-danger custom-ads-btn" href="/Account/Register">@Resources.ResourceFile.Btn_NewAdds <i class="fa fa-plus-square-o" aria-hidden="true"></i></a></li>
                            }
                        }
                    </ul>
                </nav>
                <div class="mobile-menu d-block d-lg-none">
                    <nav>
                        <ul>
                            <li>
                                <a href="/Home/Index">@Resources.ResourceFile.Lyout_Menu_Lable_Home</a>
                            </li>
                            <li>
                                <a href="/RentCars/List">@Resources.ResourceFile.Lyout_Menu_Lable_RentCars  </a>
                            </li>
                            <li>
                                <a href="">@Resources.ResourceFile.Lyout_Menu_Lable_OurPartners</a>
                                <!-- Mobile Menu Dropdown Start -->
                                <ul id="PartnersMenuMobile"></ul>
                                <!-- Mobile Menu Dropdown End -->
                            </li>
                            <li><a href="/blogs/Index">@Resources.ResourceFile.Lyout_Menu_Lable_Blog</a></li>
                            <li><a href="/Home/Contact">@Resources.ResourceFile.Lyout_Menu_Lable_contact</a></li>
                            <li><a href="/Home/About">@Resources.ResourceFile.Lyout_Menu_Lable_About</a></li>
                            @{
                                if (UserToken != null)
                                {
                                    <li class="custom-ads-btnMob"><a href="/Account/Profile">@Resources.ResourceFile.Btn_NewAdds <i class="fa fa-plus-square-o" aria-hidden="true"></i></a></li>
                                }
                                else
                                {
                                    <li class="custom-ads-btnMob"><a href="/Account/Register">@Resources.ResourceFile.Btn_NewAdds <i class="fa fa-plus-square-o" aria-hidden="true"></i></a></li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Header Bottom End Here -->


<div class="container">
    <div class="row">
        <!-- Vertical Menu Start Here -->
        <div class="col-xl-3 col-lg-4 d-none d-lg-block">
            <div class="vertical-menu mb-all-30">
                <nav>
                    <ul id="CatsMenu" class="vertical-menu-list" style="display: none;">
                        
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Vertical Menu End Here -->
    </div>
    <!-- Row End -->
</div>
<!-- Mobile Vertical Menu Start Here -->
<div class="container d-block d-lg-none">
    <div class="vertical-menu mt-30">
        <span class="categorie-title mobile-categorei-menu">@Resources.ResourceFile.Lyout_Lable_ShopCategories </span>
        <nav>
            <div id="cate-mobile-toggle" class="category-menu sidebar-menu sidbar-style mobile-categorei-menu-list menu-hidden ">
                <ul>
                    <li class="has-sub">
                        <a href="#">Trucks </a>
                        <ul class="category-sub">
                            <li><a href="#">New Trucks</a></li>
                            <li><a href="#">Used Trucks</a></li>
                        </ul>
                        <!-- category submenu end-->
                    </li>
                    <li class="has-sub">
                        <a href="#">Motor cycles </a>
                        <ul class="category-sub">
                            <li><a href="#">New Motor cycles</a></li>
                            <li><a href="#">Used Motor cycles</a></li>
                        </ul>
                        <!-- category submenu end-->
                    </li>
                    <li class="has-sub">
                        <a href="#">Cars </a>
                        <ul class="category-sub">
                            <li><a href="#">New Cars</a></li>
                            <li><a href="#">Used Cars</a></li>
                        </ul>
                        <!-- category submenu end-->
                    </li>
                    <li class="has-sub">
                        <a href="#">Accessories </a>
                        <ul class="category-sub">
                            <li><a href="#">New Accessories</a></li>
                            <li><a href="#">Used Accessories</a></li>
                        </ul>
                        <!-- category submenu end-->
                    </li>
                    <li class="has-sub">
                        <a href="#">Auto Parts </a>
                        <ul class="category-sub">
                            <li><a href="#">New Auto Parts</a></li>
                            <li><a href="#">Used Auto Parts</a></li>
                        </ul>
                        <!-- category submenu end-->
                    </li>
                </ul>
            </div>
            <!-- category-menu-end -->
        </nav>
    </div>
</div>
<!-- Mobile Vertical Menu Start End -->