﻿<!-- Latest Latest Videos Area Start Here -->
<div class="blog-area ptb-95 off-white-bg ptb-sm-55 VideosContainer">
    <div class="container">
        <div id="VideosLoder"></div>
        <div id="VideosCont" class="like-product-area">
            <h2 class="section-ttitle2 mb-30">@Resources.ResourceFile.HomePage_Lable_Videos </h2>
            <!-- Latest Video Active Start Here -->
            <div id="YouTubeVideos-data" class="latest-blog-active owl-carousel">

            </div>
            <!-- Latest Videos Active End Here -->
        </div>
        <!-- main-product-tab-area-->
    </div>
    <!-- Container End -->
</div>
<!-- Latest Videos s Area End Here -->