﻿@{
    ViewBag.Title = Resources.ResourceFile.RentCar_Title;
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="/Home/Index">@Resources.ResourceFile.Lyout_Menu_Lable_Home</a></li>
                <li class="active"><a id="Sub-Title">@Resources.ResourceFile.RentCar_Title</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>

<div class="blog ptb-100  ptb-sm-60">
    <div class="container">
        <div class="main-blog">
            <div id="RentCar-data" class="row">

            </div>
        </div>
    </div>
    <!-- Container End -->
</div>
<div class="modal fade" id="RentCarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Resources.ResourceFile.RentCar_Title_Model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="RentCar-form">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="CarId" required="">

                        <label for="name" class="col-form-label">@Resources.ResourceFile.RentCar_Model_LableName:</label>
                        <input type="text" class="form-control" id="name" data-error="Name field is required" required="">
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-form-label">@Resources.ResourceFile.RentCar_Model_LablePhone:</label>
                        <input type="text" class="form-control" id="phone" data-error="Name field is required" required="">
                    </div>
                    <div class="form-group">
                        <label for="startDate" class="col-form-label">@Resources.ResourceFile.RentCar_Model_LableStartDate:</label>
                        <input type="date" class="form-control" id="startDate" data-error="Name field is required" required="">
                    </div>
                    <div class="form-group">
                        <label for="endDate" class="col-form-label">@Resources.ResourceFile.RentCar_Model_LableEndDate:</label>
                        <input type="date" class="form-control" id="endDate" data-error="Name field is required" required="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">@Resources.ResourceFile.RentCar_Model_BtnClose</button>
                    <button type="submit" class="btn btn-primary">@Resources.ResourceFile.RentCar_Model_BtnSendRequest</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section RentCar_section{
    <script src="~/AppCode_JavaScript/Views/RentCar.view.js"></script>
    <script src="~/AppCode_JavaScript/Controllers/RentCar.controller.js"></script>
}
