﻿.category-menu.sidebar-menu .has-sub a span.holder::after, .category-menu.sidebar-menu li.has-sub > a::after {
right:0px !important;
}

.custom-sticker-new {
    left: 80% !important;
}

.custom-ads-btn {
    padding: .455rem .75rem !important;
}

#CarsFeature .FeatureIcon {
    margin-bottom: 20px !important;
}