﻿
.header-top > ul > li:not(:last-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding-left: 10px !important;
    border-right: 0px !important;
    padding-right: 0px !important;
}

ul {
    margin-bottom: 0px !important;
}

a {
    text-decoration: none !important;
}

.header-top ul li a img {
    margin-right: 0px !important;
    margin-left: 5px !important;
}

.my-cart {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.vertical-menu > span {
    padding-right: 45px !important;
    padding-left: 0px !important;
}

.vertical-menu > span::after {
    right: 16px !important;
    left: 0px !important;
}

.fa-angle-right::before {
    content: "\f104" !important;
}
.vertical-menu-list .ht-dropdown.mega-child {
    right: 255px !important;
}
.header-bottom-list > li > a {
    padding: 10px 0px 10px 30px !important;
}
.header-bottom-list li > a i {
    margin-left: 0px !important;
    margin-right: 5px !important;
}

.big-banner-box .col-img:first-child {
    margin-right: 0px !important;
    margin-left: 5px !important;
}

.owl-stage-outer{
    direction: ltr !important;
}

.pro-content .pro-info .box-Brand .item-Brand, .pro-content .pro-actions .actions-primary .box-Brand .item-Brand  {
    margin-right:0px !important;
    margin-left: 10px !important;
}

.hot-deal-products .section-ttitle .Deal-title {
    padding-right: 80px !important;
}

.nav {
    margin-right: 10px !important;
}
.product-thumbnail .nav, .thumnail-desc .nav {
    margin-right: 0px !important;
}
.title-box {
    float: right !important;
    margin-left: 10px !important;
}

.trendig-product .owl-dots {
    width:160px !important;
    right: 41px !important;
    position: absolute !important;
}

.single-latest-blog .blog-desc {
    padding-right:10px !important;

}

.blog-desc .readmore {
    padding: 5px 10px !important;
    margin-top: 0px !important;
}

.single-latest-blog .blog-date {
    padding: 2px 0 0 5px !important;
}

.section-ttitle .prand-title {
    padding-right: 80px !important;
}

.breadcrumb li + li::before {
    float: right !important;
    content: "\f104" !important;
}
.vertical-menu-list li > a i {
    right: 240px !important;
}
.address-content li i {
    right: 0 !important;
}
.address-content li{
    padding-right:30px !important;
}

.product-description p {
    text-align: right !important;
}

.mr-15 {
    margin-right: 0px !important;
    margin-left: 15px !important;
}

.color-list li a {
    margin: 10px 0px 0 10px !important;
}
.thubnail-desc .pro-price p span {
    margin-left: 15px !important;
}
.socila-sharing li {
    margin-left: 20px !important;
    margin-right: 0px !important;
}
.in-stock i {
    margin-left: 5px !important;
    margin-right: 0px !important;
}

.categorie-search-box button {
    border-radius: 3px 0px 0px 3px !important;
}
.multisteps-form__progress-btn::after {
    left: calc(50% - 13px / 2) !important;
}
