﻿
@{
    ViewBag.Title = ViewBag.Name;
}

<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="/Home/index">@Resources.ResourceFile.HomePage_TitlePage</a></li>
                <li class="active"><a href="/Products/List">@Resources.ResourceFile.ProductsPage_Title</a></li>
                <li class="active"><a id="Prod-Link"></a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>

<div class="main-product-thumbnail ptb-100 ptb-sm-60">
    <div class="container">
        <div class="thumb-bg">
            <div id="ProDetailLoder"></div>
            <div id="ProDetail" class="row">
                <!-- Main Thumbnail Image Start -->
                <div class="col-lg-5 mb-all-40">
                    <!-- Thumbnail Large Image start -->
                    <div id="Image_fancybox" class="tab-content">
                        
                    </div>
                    <!-- Thumbnail Large Image End -->
                    <!-- Thumbnail Image End -->
                    <div class="product-thumbnail mt-15">
                        <div id="Image_slider" class="thumb-menu owl-carousel nav tabs-area" role="tablist">
                        </div>
                    </div>
                    <!-- Thumbnail image end -->
                </div>
                <!-- Main Thumbnail Image End -->
                <!-- Thumbnail Description Start -->
                <div class="col-lg-7">
                    <div class="thubnail-desc fix">
                        <div id="ProdectInfo"></div>
                        <div class="socila-sharing mt-25">
                            <ul class="d-flex">
                                <li class="UserProfile">
                                    <a id="UserId" href="#"><img id="UserIcon" width="35" height="35" style="border:solid 1px #ffffff; padding:2px; border-radius:30px !important" src="~/Assets/img/User_Icon.png" /> <span class="my-cart"><span> <strong id="UserName">Ahmed Ali Al amin</strong> </span><span id="UserType"> Egant </span></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="socila-sharing mt-25">
                            <ul id="Contacts_data" class="d-flex">
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- Thumbnail Description End -->
            </div>
            <!-- Row End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<div class="thumnail-desc pb-100 pb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="main-thumb-desc nav tabs-area" role="tablist">
                    <li><a id="FeatureDetails" class="active" data-toggle="tab" href="#dtail"> </a></li>
                </ul>
                <!-- Product Thumbnail Tab Content Start -->
                <div class="tab-content thumb-content border-default">
                    <div id="dtail" class="tab-pane fade show active">
                        <div id="CarsFeatureLoder"></div>
                        <div id="CarsFeature" class="row">
                        </div>
                    </div>
                </div>
                <!-- Product Thumbnail Tab Content End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>

<div class="margin-top-30"></div>
<!-- Certified Products End Here -->
<div class="trendig-product pb-100 pt-5 pb-sm-60 CertifiedContainer">
    <div class="container">
        <div id="SimilarAdsLoder"></div>
            <div id="SimilarAdsCont" class="trending-box">
                <div class="title-box red-border">
                    <h2>@Resources.ResourceFile.ProductsPage_TitleSimilarAds</h2>
                </div>
                <div class="product-list-box">
                    <!-- Arrivals Product Activation Start Here -->
                    <div id="SimilarAds-data" class="trending-pro-active owl-carousel">

                    </div>
                    <!-- Arrivals Product Activation End Here -->
                </div>
                <!-- main-product-tab-area-->
            </div>
        </div>
        <!-- Container End -->
    </div>
<!-- Trending Products End Here -->

@section PorductDetails_section{
    <script src="~/AppCode_JavaScript/Views/Prodects.view.js"></script>
    <script src="~/AppCode_JavaScript/Controllers/PorductDetails.controller.js"></script>
}