﻿
@{
    ViewBag.Title = Resources.ResourceFile.ProductsPage_Title;
}

<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="/Home/index">@Resources.ResourceFile.HomePage_TitlePage</a></li>
                <li class="active"><a href="/Products/List">@Resources.ResourceFile.ProductsPage_Title</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->

<div class="main-shop-page pt-100 pb-100 ptb-sm-60">
    <div class="container">
        <!-- Row End -->
        <div class="row">
            <!-- Sidebar Shopping Option Start -->
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="sidebar">
                    <form id="SearchProd-data">
                        <!-- Sidebar Categorie Start -->
                        <div class="sidebar-categorie mb-40">
                            <h3 class="sidebar-title">@Resources.ResourceFile.Products_Filter_TitleCategories</h3>
                            <ul id="CategoriesList" class="sidbar-style"></ul>
                        </div>
                        <!-- Sidebar Categorie Start -->
                        <!-- Sidebar Electronics Categorie Start -->
                        <div class="electronics mb-40">
                            <h3 class="sidebar-title">@Resources.ResourceFile.Products_Filter_TitlePrands</h3>
                            <select id="PrandList" class="select2" name="">
                                <option>@Resources.ResourceFile.HomePage_Lable_Search</option>
                            </select>
                            <!-- category-menu-end -->
                        </div>
                        <div class="electronics mb-40">
                            <h3 class="sidebar-title">@Resources.ResourceFile.Products_Filter_TitleClass</h3>
                            <select id="ClassList" class="select2" name="">
                                <option>@Resources.ResourceFile.HomePage_Lable_Search</option>
                            </select>
                            <!-- category-menu-end -->
                        </div>
                        <div class="electronics mb-40">
                            <h3 class="sidebar-title">@Resources.ResourceFile.Products_Filter_TitleModels</h3>
                            <select id="ModelList" class="select2" name="">
                                <option>@Resources.ResourceFile.HomePage_Lable_Search</option>
                            </select>
                            <!-- category-menu-end -->
                        </div>
                        <!-- Sidebar Electronics Categorie End -->
                        <!-- Price Filter Options Start -->
                        <div class="search-filter mb-40">
                            <h3 class="sidebar-title">@Resources.ResourceFile.Products_Filter_TitleByPrice</h3>
                            <div class="sidbar-style">
                                <div id="slider-range"></div>
                                <input type="text" id="amount" class="amount-range" readonly>
                                <input type="hidden" id="StartAmount">
                                <input type="hidden" id="EndAmount">
                            </div>
                        </div>
                        <!-- Price Filter Options End -->
                        <!-- Product Size Start -->
                        <div class="size mb-40">
                            <h3 class="sidebar-title">@Resources.ResourceFile.Product_Filter_TitleByStatus</h3>
                            <ul class="size-list sidbar-style">
                                <li class="form-check">
                                    <input class="form-check-input" id="IsNew" type="checkbox">
                                    <label class="form-check-label" for="small">@Resources.ResourceFile.Product_Filter_TitleNew</label>
                                </li>
                            </ul>
                        </div>
                        <div class="electronics mb-40">
                            <h3 class="sidebar-title">@Resources.ResourceFile.Product_Filter_TitleAccessoriesList</h3>
                            <div id="Accessoress-list">
                            </div>
                            <!-- category-menu-end -->
                        </div>
                    </form>
                </div>
            </div>
            <!-- Sidebar Shopping Option End -->
            <!-- Product Categorie List Start -->
            <div class="col-lg-9 order-1 order-lg-2">
                <!-- Grid & List View Start -->
                <div class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
                    <div class="grid-list-view  mb-sm-15">
                        <ul class="nav tabs-area d-flex align-items-center">
                            <li><a class="active" data-toggle="tab" href="#grid-view"><i class="fa fa-th"></i></a></li>
                            <li><a data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a></li>
                        </ul>
                    </div>
                    <!-- Toolbar Short Area Start -->
                    <div class="main-toolbar-sorter clearfix">
                        <div class="toolbar-sorter d-flex align-items-center">
                            <label>@Resources.ResourceFile.ProductPage_Lable_Show:</label>
                            <select class="sorter wide">
                                <option value="12">12</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="75">75</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                    <!-- Toolbar Short Area End -->
                </div>
                <!-- Grid & List View End -->
                <div class="main-categorie mb-all-40">
                    <div class="tab-content fix">
                        <div id="ProductsLoder"></div>
                        <!-- Grid start -->
                        <div id="grid-view" class="tab-pane fade show active">
                            <div id="ProductList-data" class="row">

                            </div>
                            <!-- Row End -->
                        </div>
                        <!-- #list view start -->
                        <div id="list-view" class="tab-pane fade">
                            <div id="ProductListView-data" class="row">

                            </div>
                        </div>
                        <div class="row">
                            <input id="lastLentgh" type="hidden" value="0" />
                            <input id="SearchKey" type="hidden" />
                            <div class="load_more_animation" style="margin-bottom:20px;">@Resources.ResourceFile.ProductPage_Lable_Loding....</div>
                            <div class="custom-alert" id="no-more" style="display:none;">@Resources.ResourceFile.Aleart_No_More_Data</div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12"><button type="button" id="load-more" style="display:none;" class="more-btn Card-color"><i class="fa fa-angle-double-down"></i> @Resources.ResourceFile.Read_More_Button ...</button></div>
                        </div>
                        <!-- Product Pagination Info -->
                    </div>
                    <!-- Grid & List Main Area End -->
                </div>
            </div>
            <!-- product Categorie List End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
@section Prodect_section{
    <script src="~/AppCode_JavaScript/Views/Shared.view.js"></script>
    <script src="~/AppCode_JavaScript/Views/Prodects.view.js"></script>
    <script src="~/AppCode_JavaScript/Controllers/Product.controller.js"></script>
}
